# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# See docs/Config_Reference.md for a description of parameters.
[gcode_macro _USER_VARIABLES]
variable_extruder_enabled: True
gcode:

[printer]
kinematics: corexy
max_velocity: 400 
max_accel: 16000  # should not exceed the estimated max_accel for X and Y axes
#max_accel: 4000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0


#------------------------------------------#
#   X/Y MOTORS DIRECTION ANY KINEMATICS    #
#------------------------------------------#

[stepper_y1] ##rechts vorne ##Motor1
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 64
rotation_distance: 40
#full_steps_per_rotation: 200

[tmc2209 stepper_y1] 
uart_pin: PC13
interpolate: True
run_current: 1.35 # vorher 1.4
#sense_resistor: 0.110
#stealthchop_threshold: 0


[stepper_x] ##rechts hinten #Motor5
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
microsteps: 64
rotation_distance: 39.88
#full_steps_per_rotation: 200
position_min: 0
position_max: 378
homing_speed: 40
endstop_pin: PF4 #tmc2209_stepper_x:virtual_endstop
position_endstop: 378


[tmc2209 stepper_x]
uart_pin: PG14
diag_pin: PF0
interpolate: True
run_current: 1.35 # vorher 1.4 ## errechnet 1,7675 für die Motorren 2,5A 17HS19-2504S-H-V1  ##vorher 0.8
#stealthchop_threshold: 0
#driver_SGTHRS: 50
#sense_resistor: 0.110
#stealthchop_threshold: 0


[stepper_x1]  ## Links Vorne  ##Motor2
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 64
rotation_distance: 40
#full_steps_per_rotation: 200

[tmc2209 stepper_x1]
uart_pin: PE3
interpolate: True
run_current: 1.35
#sense_resistor: 0.110
#stealthchop_threshold: 0


[stepper_y]  ## Links Hinten ##Motor6
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 64
rotation_distance: 40
#full_steps_per_rotation: 200
position_min: 0
position_max: 399
homing_speed: 40
endstop_pin: PF3 #tmc2209_stepper_y:virtual_endstop
position_endstop: 399

[tmc2209 stepper_y]
uart_pin: PG10
diag_pin: PC15
interpolate: True
run_current: 1.35
#stealthchop_threshold: 0
#driver_SGTHRS: 50  
#sense_resistor: 0.110
#stealthchop_threshold: 0


####################TMC Autotune#########################
#                                                       #
#########################################################
#[autotune_tmc stepper_x]
#motor: omc-17hs19-2504s-h
#tuning_goal: auto
#[autotune_tmc stepper_x1]
#motor: omc-17hs19-2504s-h
#tuning_goal: auto
#[autotune_tmc stepper_y]
#motor: omc-17hs19-2504s-h
#tuning_goal: auto
#[autotune_tmc stepper_y1]
#motor: omc-17hs19-2504s-h
#tuning_goal: auto


#-------------------------#
#   Z MOTORS DIRECTION    #
#-------------------------#

## Here is an example of some overrides for the motor directions as it's a pretty common one. If you need
## to invert the Z1 or Z3 motor direction on your machine, just uncomment the following lines.
# [stepper_z1]
# dir_pin: !Z1_DIR

# [stepper_z3]
# dir_pin: !Z3_DIR

[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
rotation_distance: 4.02168838
microsteps: 16  # vorher 16
position_max: 400
position_min: -6 
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3
endstop_pin: probe:z_virtual_endstop

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PB9
interpolate: false # vorher true 
run_current: 1.0
# berechnet 1,0605 und dann abgerundet
#sense_resistor: 0.110
#stealthchop_threshold: 0

##########################################
              # BED #
##########################################

[heater_bed]
# control: pid
# pid_kp: 38.771
# pid_ki: 1.746
# pid_kd: 215.177
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB1
control: pid
pid_Kp: 690.34
pid_Ki: 111.47
pid_Kd: 1068.83
max_power: 1
min_temp: 0
max_temp: 150


####################################################################################






##############################################################
                          # Hotend #
##############################################################

#-------------------------#
#   EXTRUDER/BED PIDs     #
#-------------------------#


## Here is an example of some overrides for the PIDs. I put them here as almost everyone will use them,
## so just uncomment the following lines and change the values according to your own machine
[extruder]
# control: pid
# pid_kp: 26.015
# pid_ki: 1.770
# pid_kd: 95.603
heater_pin: PA1
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC5
control: pid
pid_Kp=21.474
pid_Ki=2.202
pid_Kd=52.342
min_temp: 10
max_temp: 300
#pressure_advance:0.0525

step_pin: PD4 #PB4
dir_pin: PD3 #!PB3
enable_pin: PD6 #!PB6
#microsteps: 16 # vorher 16
rotation_distance: 22.090548815184 # vorheriger motor 42-40 22.090548815184 ## Motor der x Achse Ender 5 21.8295
nozzle_diameter: 0.400
filament_diameter: 1.750

# BMG Gear Ratio
# new_rd = previous_rd * mesured_distance / requested_distance
gear_ratio: 50:17
microsteps: 32
full_steps_per_rotation: 200

max_extrude_only_distance: 110
max_extrude_cross_section: 5

max_power: 1.0
min_extrude_temp: 172
pressure_advance: 0.0475
pressure_advance_smooth_time: 0.040



[tmc2209 extruder]
uart_pin: PD5 #PB5
interpolate: False  #true
run_current: 1.0
# berechnet 1,0605 abgerundet 
sense_resistor: 0.110  ## vorher 0.125
stealthchop_threshold: 0

#[fan]
#pin: PF9

#[heater_fan hotend_fan]
#pin: PF7
#heater: extruder
#heater_temp: 50.0


########################################Filamentt Sensor#################
#[filament_switch_sensor switch_sensor]
#switch_pin: ^PF0
#pause_on_runout: False
#runout_gcode:
# PAUSE # [pause_resume] is required in printer.cfg
# M117 Filament switch runout
#insert_gcode:
# M117 Filament switch inserted

#[filament_motion_sensor encoder_sensor]
#switch_pin: ^PC15
#detection_length: 2.88 # accuracy of motion sensor 2.88mm
#extruder: extruder
#pause_on_runout: False
#runout_gcode:
# PAUSE # [pause_resume] is required in printer.cfg
# M117 Filament encoder runout
#insert_gcode:
# M117 Filament encoder inserted
##########################################

############################################
#  Chamber LED
###########################################

# Chamber Lighting - HE1 Connector (24V)
[output_pin light]
pin: PF6
pwm:true
shutdown_value: 0
value:0.25                            #the brightness at startup (0-1)
cycle_time: 0.01

##########################################
# FANS
##########################################

[heater_fan hotend_fan]
pin: PF7
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0

[fan]
pin: PF9
kick_start_time: 0.100
cycle_time: 0.010


[temperature_fan rpi_fan]
pin: PA6
kick_start_time: 0.5
max_speed: 1
target_temp: 40
min_temp: 10
max_temp: 95
control: watermark
sensor_type: temperature_host



[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>
