[include mainsail.cfg]

# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# See docs/Config_Reference.md for a description of parameters.

########Hardware########
[include manta-m8p-V2_0.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_35002C001051313234353230-if00

############################ Nachbau Klippain nur Macros ###################

# Lade nur die Klippain-Logik
[include macros/base/*.cfg]
[include macros/helper/*.cfg] # Falls du globbing nutzt

# Deine angepasste Variablen-Datei
#[include variables.cfg]



[exclude_object]

#-------------------------#
#   Probe Offsets         #
#-------------------------#

[z_tilt]
z_positions:
   390, 188 # Right side center
   -10, 188  # Left side center
points:
   372, 188
   72, 188
speed: 100
horizontal_move_z: 10
retries: 3
retry_tolerance: 0.05

[screws_tilt_adjust]
screw1: 72, 60
screw1_name: front left screw
screw2: 372, 60
screw2_name: front right screw
screw3: 372, 317
screw3_name: rear right screw
screw4: 72, 317
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M4

[bltouch]
sensor_pin: PD13
control_pin: PD12
x_offset: -35.75
y_offset: -8.75
#z_offset: 3
speed: 10
pin_up_touch_mode_reports_triggered: False

#[bed_mesh]
#zero_reference_position: 186, 185 # The centre of your bed. 
#speed: 100
#horizontal_move_z: 3
#mesh_min: 20, 40 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
#mesh_max: 350, 300 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
#probe_count: 40, 40
#adaptive_margin: 10
#mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 20, 10
mesh_max: 339, 340
probe_count: 8
mesh_pps: 6
algorithm: bicubic
bicubic_tension: 0.2

[axis_twist_compensation]

[input_shaper]
shaper_freq_x: 123.2
shaper_type_x: 2hump_ei
shaper_freq_y: 66.2
shaper_type_y: ei

[safe_z_home]
home_xy_position: 224, 188 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
z_hop: 10

###############################Macros and related################################
#This secton contains macros and related config sections. Some should be used, others are optional. Read the comment above each one to find out whether or not to uncomment it for your installation.


# Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
[save_variables]
filename: ~/printer_data/config/variables.cfg



# Uncomment this if you are using Eddy as the probe AND the homing endstop
[force_move]
enable_force_move: True # Allows a user to move the z axis down if they have no other means of homing Z and need to calibrate the

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.002171, 0.020352, 0.040985, -0.054156, -0.005010
#*# compensation_start_x = 20.0
#*# compensation_end_x = 350.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.020158, 0.025901, 0.048637, -0.039666, -0.126466, -0.019842, -0.058362, 0.031938
#*# 	  -0.030841, 0.005479, 0.007163, -0.065115, -0.204700, -0.157144, -0.140052, -0.081486
#*# 	  0.042995, -0.034109, -0.096521, -0.041866, -0.182393, -0.108444, -0.110832, -0.028388
#*# 	  0.006549, 0.010192, -0.021429, -0.112559, -0.205015, -0.192962, -0.089467, 0.014029
#*# 	  0.036397, -0.032853, -0.034939, -0.093394, -0.158827, -0.172226, -0.061504, -0.020218
#*# 	  0.014403, -0.037566, -0.028026, -0.104390, -0.215069, -0.156202, -0.005263, 0.062729
#*# 	  -0.013560, -0.019971, -0.053162, -0.058203, -0.173909, -0.146147, -0.102663, 0.346132
#*# 	  0.020373, 0.045696, 0.041096, -0.072029, -0.155999, -0.088336, -0.006519, 0.256586
#*# min_x = 20.0
#*# min_y = 10.0
#*# max_x = 338.99
#*# max_y = 339.97999999999996
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 6
#*# mesh_y_pps = 6
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [bltouch]
#*# z_offset = 3.025
