[include mainsail.cfg]

# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# See docs/Config_Reference.md for a description of parameters.

########Hardware########
[include manta-m8p-V2_0.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_35002C001051313234353230-if00

############################ Nachbau Klippain nur Macros ###################

# Lade nur die Klippain-Logik
[include macros/base/*.cfg]
[include macros/helper/*.cfg] # Falls du globbing nutzt

# Deine angepasste Variablen-Datei
#[include variables.cfg]



[exclude_object]

#-------------------------#
#   Probe Offsets         #
#-------------------------#


[screws_tilt_adjust]
screw1: 70, 66
screw1_name: front left screw
screw2: 365, 66
screw2_name: front right screw
screw3: 365, 337
screw3_name: rear right screw
screw4: 70, 337
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M4

[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_41004000125030514B343620-if00
#canbus_uuid: <blank>
restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 35 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[bed_mesh]
zero_reference_position: 185, 185 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 30, 20 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 310, 330 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
cs_pin: cartographer:PA3 # For Cartographer V3
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    185, 185, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.


[safe_z_home]
home_xy_position: 185, 185 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.

###############################Macros and related################################
#This secton contains macros and related config sections. Some should be used, others are optional. Read the comment above each one to find out whether or not to uncomment it for your installation.


# Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
[save_variables]
filename: ~/printer_data/config/variables.cfg



# Uncomment this if you are using Eddy as the probe AND the homing endstop
[force_move]
enable_force_move: True # Allows a user to move the z axis down if they have no other means of homing Z and need to calibrate the

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5280590800748017,2.0219886452088893,0.8445234374909407,0.26973233683258957,0.4075875552643753,0.5135170329076348,-0.290962067920575,-0.19467988595873656,0.31328749850210336,0.09273778264816097
#*# domain = 3.3216624876319785e-07,3.441348544133157e-07
#*# z_offset = 0
#*# reference_temperature = 26.59
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1052
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER V4 6.0.0
