[gcode_macro SIMPLE_START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    G90 ; Absolute Positionierung
    M140 S{BED_TEMP} ; Bett heizen starten
    M190 S{BED_TEMP} ; Warten auf Bett-Temperatur
    G4 H300 ; 300 sekunden warten also 5 min 
    M117 5 Min warten
    
    SET_GCODE_OFFSET Z=0 ; Reset Z offset
    G28 ; Home all axes
    G90 ; Set to absolute positioning

    M104 S150 ; Heat nozzle to soften filament leftovers
    #("Heat bed to print temperature, M190 S{target_bed}") ; Replace with your real macro
  
    #("QUAD_GANTRY_LEVEL or Z_TILT_ADJUST") ; Replace with your real macro
    M109 S150 ; Ensure nozzle is at 150C, in case it was hot when print started.
    G4 H30 ; 300 sekunden warten also 5 min 
    CARTOGRAPHER_TOUCH_HOME ; Home for real Z0

    #("Do BED_MESH_CALIBRATE ADAPTIVE=1") ; Replace with your real macro

    BED_MESH_CALIBRATE ADAPTIVE=1

    # Parken zum Aufheizen der Düse (Hinten rechts, wie gewünscht)
    G1 X350 Y350 Z10 F6000
    M109 S{EXTRUDER_TEMP} ; Warten auf Düsen-Temperatur
  
    
    # Kurze Purge-Line (Manuelle Logik)
    G1 X10 Y2 Z0.3 F5000 ; Startposition Purge
    G92 E0 ; Extruder nullen
    G1 X100 E15 F1500 ; Purge-Linie ziehen
    G92 E0