[gcode_macro SIMPLE_START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    G90 ; Absolute Positionierung
    M140 S{BED_TEMP} ; Bett heizen starten
    G28 ; Homing
    
    # Sicherstellen, dass wir für Eddy auf Z10 sind
    G1 Z10 F3000
    
    M190 S{BED_TEMP} ; Warten auf Bett-Temperatur
    
    # Eddy Scan erzwingen (Einfach & Direkt)
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE METHOD=scan SCAN_MODE=rapid HORIZONTAL_MOVE_Z=2
    
    # Parken zum Aufheizen der Düse (Hinten rechts, wie gewünscht)
    G1 X350 Y350 Z10 F6000
    M109 S{EXTRUDER_TEMP} ; Warten auf Düsen-Temperatur
    
    # Kurze Purge-Line (Manuelle Logik)
    G1 X50 Y15 Z0.3 F5000 ; Startposition Purge
    G92 E0 ; Extruder nullen
    G1 X150 E15 F1500 ; Purge-Linie ziehen
    G92 E0